section {
  padding: 0 15px;
}

input {
  width: 360px;
  margin-top: 8px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
}
input:hover {
  border-color: #000000;
}

textarea {
  width: 100%;
  resize: none;
  margin-top: 8px;
  height: 80px;
  border-radius: 4px;
  border: 1px solid #808080;
}
textarea:hover {
  border-color: #000000;
}

.feedback-form {
  width: 408px;
  padding: 24px;
  box-sizing: border-box;
}

.feedback-form label {
  width: 100%;
  display: block;
  margin-bottom: 8px;
  color: #2e2f42;

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.64px;
}
.feedback-form button {
  padding: 8px 16px;
  background-color: #4e75ff;
  border-radius: 8px;
  border: none;
  color: #fff;

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.64px;
}

.feedback-form button:hover {
  background-color: #6c8cff;
}
