.container {
  max-width: 1440px;
  margin: 0 auto;
}

.gallery {
  padding: 0 156px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  display: block;
  list-style-type: none;
  width: calc((100% - 48px) / 3);
}

.gallery-image {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 200px;
}

.gallery-item:hover {
  transform: scale(1.1);
}
.sl-wrapper {
  background-color: rgba(46, 47, 66, 0.8);
}
.sl-wrapper .sl-navigation button.sl-next {
  color: #fff;
}
.sl-wrapper .sl-navigation button.sl-prev {
  color: #fff;
}
.sl-wrapper .sl-counter {
  color: #fff;
}
.sl-wrapper .sl-close {
  color: #fff;
}
